<nav class="navbar nav-tabs justify-content-center navbar-dark bg-dark">
  <ul class="nav nav-fill">
      <li id="conBorde" class="nav-item">
          <a class="nav-link" [routerLink]='["/home"]'><mat-icon>psychology</mat-icon> Inicio</a>
      </li>
      <li id="conBorde" class="nav-item">
      <a class="nav-link" [routerLink]='["/entrenamiento"]'><mat-icon>fitness_center</mat-icon> Entrenamiento<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]='["/simulacion"]'><mat-icon>fast_forward</mat-icon>  Simulación<span class="sr-only">(current)</span></a>
      </li>
  </ul>
</nav>