<div class="cuerpo">
    <div class="container contenido">
        <div class="row">
            <div class="col-md-6">
                <mat-card>
                    <label for="archivoEntradas">Cargue del Archivo</label>
                    <div class="form-group archivo">
                        <input type="file" name="file-1" id="file-1" class="inputfile inputfile-1" accept=".txt" />
                        <label for="file-1">
                            <span class="iborrainputfile"></span>
                            <strong>
                                Cargar Archivo
                            </strong>
                        </label>
                    </div>
                </mat-card>
            </div>
            <div class="col-md-6">
                <mat-card>
                    <label for="parametrosEntrada">Parámetros de Entrada</label>
                    <p>
                        <mat-form-field appearance="legacy">
                          <mat-label>Legacy form field</mat-label>
                          <input matInput placeholder="Placeholder">
                          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          <mat-hint>Hint</mat-hint>
                        </mat-form-field>
                      </p>
                </mat-card>
            </div>
        </div>
    </div>
</div>