<div class="cuerpo">
    <div class="container contenido" id="cuerpo">

        <h1 id="TituloRedMonocapa">
            <b>Redes Neuronales Monocapa</b>
        </h1>

        <div id="TextoRedMonocapa">

            <p>
                Las redes monocapa son redes con una sola capa. Para unirse las neuronas crean conexiones laterales para
                conectar con otras neuronas de su capa. Las redes más representativas son la red de Hopfield, la red
                BRAIN-STATE-IN-A-BOX o memoria asociativa y las maquinas estocásticas de Botzmann y Cauchy.
                Entre las redes neuronales monocapa, existen algunas que permiten que las neuronas tengan conexiones a
                si
                mismas y se denominan auto-recurrentes.
            </p>
        </div>

        <br>
        <br>

        <h2 id="TituloAprendizaje">
            <b>Aprendizaje Supervisado</b>
        </h2>

        <div id="TextoRedMonocapa">
            <p>
                En este en modo aprendizaje se muestran los patrones a la red y la salida deseada para esos patrones y 
                se usa una fórmula matemática de minimización del error que ajuste los pesos para dar la salida más cercana 
                posible a la salida deseada.
            </p>
        </div>
    </div>
</div>