<nav class="navbar nav-tabs justify-content-center navbar-dark bg-dark">
  <ul class="nav nav-fill">
      <li id="conBorde" class="nav-item">
          <a class="nav-link" [routerLink]='["/home"]'><mat-icon>home</mat-icon> Inicio</a>
      </li>
      <li id="conBorde" class="nav-item">
      <a class="nav-link" [routerLink]='["/personaRegistro"]'><mat-icon>how_to_reg</mat-icon> Registro<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]='["/personaConsulta"]'><mat-icon>search</mat-icon>  Consulta<span class="sr-only">(current)</span></a>
      </li>
  </ul>
</nav>